/*导航*/
dd{
	 padding-bottom: 5px;
}
.leftsidebar_box ul li{
	margin-bottom: 10px;
}
.left_bg{
	background: url(../img/left_bg2.png);
	width: 201px;
	height: 787px;
	background-repeat:repeat-y;
	margin: -4%;
}

.left-header{
	/*background-color: #000000;*/
	border-bottom: 4px solid #FFFFFF;
	height: 66px;
}
/*导航end*/
dl,dt,dd{
	display:block;
	margin:0;
	}
a{
	text-decoration:none;
	
	}

.container{
	width:100%;
	height:100%;
	margin:auto;
	}
.leftsidebar_box{
	width:201px;
	height:auto !important;
	overflow:visible !important;
	position:fixed;
	height:100% !important;
	}
.line{
	height:2px;
	width:100%;
	background-image:url(img/line_bg.png);
	background-repeat:repeat-x;
	}
.leftsidebar_box dt{
	padding-left:40px;
	padding-right:10px;
	background-repeat:no-repeat;
	background-position:10px center;
	color:#f5f5f5;
	font-size:14px;
	position:relative;
	line-height:48px;
	cursor:pointer;
	}
.leftsidebar_box dd{
	background-color:#34A4F3;
	padding-left:40px;
	padding-top: 5px;
	}
.leftsidebar_box dd a{
	color:#f5f5f5;
	line-height:20px;
	}
.leftsidebar_box dt img{
	position:absolute;
	right:10px;
	top:20px;
	}
.custom dt{
	background-image:url(../img/custom.png);
	}
.source dt{
	background-image:url(../img/source.png);
}
.statistics dt{background-image:url(../img/statistics.png);
}
.leftsidebar_box dl dd:last-child{
	padding-bottom:10px;
	}
.leftsidebar_box dd a:hover{
	background-color: #FFFFFF;
	color: #000000;
	/*-moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=80);*/
	}
	