<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/Mysql"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingLocations">
            <list>
                <value>classpath:com/pojo/CmArea.hbm.xml</value>
                <value>classpath:com/pojo/CmCompany.hbm.xml</value>
                <value>classpath:com/pojo/CmDirection.hbm.xml</value>
                <value>classpath:com/pojo/CmEmp.hbm.xml</value>
                <value>classpath:com/pojo/CmGrade.hbm.xml</value>
                <value>classpath:com/pojo/CmInter.hbm.xml</value>
                <value>classpath:com/pojo/CmJob.hbm.xml</value>
                <value>classpath:com/pojo/CmRecruit.hbm.xml</value>
                <value>classpath:com/pojo/CmStudent.hbm.xml</value>
                <value>classpath:com/pojo/CmUnemp.hbm.xml</value>

                <value>classpath:com/pojo/CmUser.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                <!-- hibernate.hbm2ddl.auto=update -->
                hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
                hibernate.show_sql=true
                hibernate.format_sql=true
                hibernate.connection.autocommit=true
            </value>
        </property>
    </bean>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>